
body, html {
    /* display: flex; */
    /* min-height: 100vh; */
    /* min-height: 100vh; */
    /* height: auto; */
    /* width: 80vw; */
    /* height: 100vh; */
    /* min-height: 120vh; */
    height: 100%;
    /* flex-direction: column;
    justify-content: space-evenly;
    background-color: lightgray; */
    /* margin: auto; */
    margin: 0;
    padding: 0;
    border: 0;
    width: auto;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Arial Narrow Bold', sans-serif;
    /* font-size: 1.2rem; */
    background-color: #484848;
    color: #ffffff;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.img1, .img2, .img3, .img4{
    position: relative;
    /* opacity: 0.70; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.img1 {
    background-image: url(assets/img1.jpg);
    min-height: 90%;
}
.img2 {
    background-image: url(assets/img2.jpg);
    min-height: 450px;
}
.img3 {
    background-image: url(assets/img3.jpg);
    min-height: 450px;
}

.img4 {
    background-image: url(assets/img4.jpg);
    min-height: 450px;
}

.imgtext {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    /* background-color: #111; */
    color: #000000;
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
    /* padding: 20px; */
    font-size: 5rem;
    font-weight: bold;
    /* opacity: 1; */
    letter-spacing: 8px;
}

header {
    /* height: auto; */
    background-color: #5a9bcc;
    border: 2px solid transparent;
    text-align: center;
    font-size: 1.2rem;
    /* padding-bottom: 1px; */
}

header h1 {
    /* margin-top: 0; */
    /* padding-top: 50px; */
}

nav {
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    /* height: auto; */
    background-color: #484848;
    /* color: #ffffff; */
    /* border: 2px solid aqua; */
    /* text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;; */
    padding: 1px;
}

a {
    color: #e0e0e0;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}

.nav-list {
    display: flex;
    /* text-align: center; */
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* max-height: 50vh; */
    /* min-height: 800px; */
    /* height: 500px; */
    height: auto;
    width: auto;
    /* background-color: pink; */
    /* border: 2px solid black; */
}

.dean-pic {
    width: 100%;
    max-height: auto;
}

.about-me {
    display: flex;
    /* grid-template-columns: 1fr; */
    flex-direction: column;
    align-items: center;
    /* background-color: orange; */
    /* border: 2px solid white; */
    min-height: 200px;
    height: 50%;
    padding-bottom: 50px;
    background-color: #e5e5e5;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
}

.about-me-h1 {
    font-size: 2rem;
}

.about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.about-me-text, .about-me-pic-div {
    justify-self: center;
    align-self: center;
    max-width: 30%;
    /* height: 100%; */
    min-height: 100px;
    /* border: 2px solid blue; */
}

.about-me-pic-div img{
    border-radius: 200px;
    /* border: 2px solid black; */
    /* min-width: 250px; */
}

.about-me-text p {
    /* text-align: center; */
    font-size: 1.25rem;
}

.about-me-skills > h3 {
    display: flex;
    justify-content: center;
}

.about-me-skills > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* display: flex;
    flex-direction: column;
    /* padding-left: 0px; */
    padding: 0px;
    /* width: 80vw; */
    border: 1px solid black;
    justify-items: center;
    /* column-gap: 20px; */
    /* place-self: center; */
    /* row-gap: 20px; */
    /* align-self: center; */
    /* justify-self: center; */
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
    row-gap: 20px;
}

.about-me-skills > ul > li {
    border: 1px solid yellow;
    /* justify-self: center; */
    text-align: center;
    width: 4.5rem;
}

.about-me-skills > ul > li > span {
    /* font-size: inherit; */
    font-size: 1rem;
    place-self: center;
}

.about-me-skills > ul > li > i {
    font-size: 3rem;
}

.projects-container {
    /* display: flex; */
    /* flex-direction: row; */
    /* border: 2px solid red; */
    background-color: #c1bd97;
    min-height: 200px;
    height: 50%;
}

.projects-h1 {
    text-align: center;
}

.proj-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0px;
    margin: 0px;
    padding: 0px;
    /* min-height: 100px; */
    /* height: 25vh; */
    /* min-height: 250px; */
    /* border: 2px solid white; */
    /* background-color: beige; */
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    /* height: 50%; */
    width: 30%;
    min-height: 30vh;
}

.project img {
    height: 100px;
    width: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    text-align: center;
    min-height: 60px;
    /* bottom: 0; */
    /* background-color: #484848; */
    /* border: 2px solid gold; */
    /* text-align: center; */
    /* position: relative; */
    /* bottom: 0; */
}

footer h1 {
    font-size: 1.1rem;
}

#github-link {
    margin: 10px;
    height: 80%;
    width: 80%;
}

#github-link:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    body, html {
        font-size: 1rem;
        /* width: 80vw; */
        /* margin: auto; */
        /* margin-top: 10px; */
        margin: 10px;
    }
    
    header h2 {
        margin: 0;
        padding-bottom: 25px;
    }
    .about-me-container {
        display: flex;
        flex-direction: column;
    }
    .about-me-text, .about-me-pic-div {
        /* justify-self: center;
        align-self: center; */
        max-width: 90%;
        /* height: 100%; */
        /* min-height: 100px; */
        /* border: 2px solid blue; */
    }
    .about-me-pic-div img {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
    }

    .about-me-skills > h3 {
        font-size: 2rem;
    }

    .about-me-skills > ul {
        width: 80vw;
    }
    
    .about-me-skills > ul > li > span {
        /* font-size: inherit; */
        font-size: 1.33rem;
    }
    
    .about-me-skills > ul > li > i {
        /* font-size: inherit; */
        font-size: 4rem;
    }

    .proj-list {
        display: flex;
        flex-direction: column;
    }
    .project {
        /* border: 2px solid black; */
        /* height: 50%; */
        width: 50%;
        min-height: auto;
        height: 200px;
        margin: 10px;
        padding: 10px;
        font-size: 1.2rem;
    }
    .project img {
        height: 80%;
        width: 80%;
    }
    nav {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    body, html {
        font-size: 1.5rem;
    }
    /* #github-link-big {
        display: block;
    }
    #github-link-small {
        display: none;
    } */
}